# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://user:password@xxxxxxx.xxxxxxx.xxxxxx.com:xxxxx/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
# Resend Email Configuration
RESEND_API_KEY="re_xxxxxxxxxxxxxxxx"
MAIL_FROM="onboarding@resend.dev"
JWT_SECRET="secret"
JWT_EXPIRES_IN="5m"

# WhatsApp API Configuration
WHATSAPP_BASE_URL="https://whatsapp.planetnyemilsnack.store"
WHATSAPP_DEVICE_ID="your-device-uuid"
WHATSAPP_USERNAME="planet"
WHATSAPP_PASSWORD="nyemilsnack"
