# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://user:password@xxxxxxx.xxxxxxx.xxxxxx.com:xxxxx/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://user:password@xxxxxxx.xxxxxxx.xxxxxx.com:xxxxx/postgres"
