# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://user:password@xxxxxxx.xxxxxxx.xxxxxx.com:xxxxx/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
# Resend Email Configuration
RESEND_API_KEY="re_xxxxxxxxxxxxxxxx"
MAIL_FROM="onboarding@resend.dev"
JWT_SECRET="secret"
JWT_EXPIRES_IN="5m"

# WhatsApp API Configuration
WA_URL="https://your.whatsapp.hostname"
WA_DEVICE_ID="your_device_id"
WA_USERNAME="admin"
WA_PASSWORD="your_password"

